<h1>Posts</h1>

<h3>Total number of posts: <%= @posts.count %></h3>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.body %>
      <% if user_signed_in? %>
        <p>Posted by: <%= User.find(post.user_id).email %></p>
      <% end %>
    </li>
  <% end %>
</ul>
<div>
  <%= button_to "Log in", new_user_session_path, method: :get %><br>
  <%= button_to "Log out", destroy_user_session_path, method: :delete %>
  <% if user_signed_in? %>
    <%= button_to "Edit user", edit_user_registration_path, method: :get %>
  <% end %>
</div>